body{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.body-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.top-container{
  z-index: 1000;
  display: flex;
  flex: 1;
  justify-content: space-between;
  max-height: 35px;
  align-items: center;
  -webkit-app-region: drag;
  box-shadow: 1px 1px 3px #00000036;
  .left{
    flex: 1;
    .logo{
      margin: 5px;
      font-weight: bold;
      color: #0f7fc9;
    }
  }
  .mid{
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    input{    
      padding: 5px;
      border: 1px solid #00000030;
      border-radius: 5px;
      width: 30vw;
      -webkit-app-region: no-drag;
      outline: none;
      background-color: #ffffff21;
      color: #2c2943;
      text-align: center;
    }
  }
  .right{
    flex: 1;
    justify-content: flex-end;
    .UI-btn{
      button{
        -webkit-app-region: no-drag;
        color: #272121;
        border: hidden;
        outline: none;
        height: 35px;
        padding: 0px 15px;
        cursor: pointer;
        background-color: transparent;
        &:hover{
          color: #fff;
          background-color: #00000060;
        }
      }
      &:last-child button{
        &:hover{
          color: #fff;
          background-color: #ca1010da;
        }
      }
    }
  }
}
.add-services{
  display: flex;
  flex-direction: column;
  flex: 1;
  .s-head{    
    font-size: 30px;
    color: #184669;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
  }
  .s-body{
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    .s-card{
      max-width: 400px;
      flex: 1;
      padding: 20px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      box-shadow: 1px 1px 3px #0000002b;
      border-radius: 5px;
      overflow: auto;
      gap: 10px;
      .s-name{
        color: #373842;
        font-weight: 600;
        font-size: 18px;
      }
      button.add_services{
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4b8fc3;
        color: #ffffffad;
        cursor: pointer;
        transition: 0.3s;
        border: hidden;
        border-radius: 5px;
        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.1s;
        }
        span:after {
          content: '»';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -15px;
          transition: 0.1s;
        }
        &:hover{
          color: #fff;
          background-color: #095086;
          span {
            padding-right: 15px;
            &:after {
              opacity: 1;
              right: 0;
            }
          }
        }
      }
      .s-details{
        font-size: 15px;
        border: 1px solid #00000015;
        border-radius: 10px;
        margin: 5px;
        overflow: hidden;
        table{
          width: 100%;
          border-collapse: collapse;
          td{
            border-top: 1px solid #00000015;
            border-bottom: 1px solid #00000015;
            padding: 10px;
            &:first-child{
              color: #1d2f44;
            }
            &:last-child{
              color: #00cc11;
            }
          }
          tr:first-child{
            td{
              border-top: hidden;
            }
          }
          tr:last-child{
            td{
              border-bottom: hidden;
            }
          }
        }
      }
    }
  }
}
.hidden{
  overflow: hidden;
}
.h100{
  height: 100%;
}
.jcenter{
  justify-content: center;
}
.desk_view{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px 5px 5px 0px;
  overflow: auto;
  .items{
    display: flex;
    background-color: #ffffff59;
    box-shadow: 1px 2px 3px #00000030;
    border-radius: 10px;
    overflow: hidden;
    min-width: 250px;
    flex: 1;
    max-width: 300px;
    min-height: 200px;
    position: relative;
    .item-box{
      display: flex;
      flex-direction: column;
      width: -webkit-fill-available;
      .item-description{
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
      .item-tools{
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 5px;
      }
      .item-view{
        display: flex;
        gap: 5px;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
        .name{
          font-size: 1.2rem;
          font-weight: bold;
          color: #999;
        }
      }
    }
    &.active{
      background-color: #11cff7;
      .item-view{
        .name{
          color: #fff;
        }
        .details{
          color: #fff;
        }
      }
      .using-description{
        display: flex;
        gap: 3px;
        flex: 1;
        margin-top: 2px;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 0px 10px #00000060;
        .explan{
          margin: 5px 0px 0px;
          height: 10px;
          width: 35px;
          background-color: #2cc7ff9f;
          border-radius: 5px;
          transition: all 0.2s;
          cursor: pointer;
          &:hover{
            background-color: #2cc7ff;
            width: 42px;
          }
        }
      }
    }
    &.ordered{
      background-color: #e3a108;
      .item-view{
        .name{
          color: #ffffff;
        }
        .details{
          color: #ffffff;
        }
      }
      .using-description{
        display: flex;
        gap: 3px;
        flex: 1;
        margin-top: 2px;
        flex-direction: column;
        background-color: #fffffff9;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 0px 10px #00000060;
        .explan{
          margin: 5px 0px 0px;
          height: 8px;
          width: 30px;
          background-color: #2cc7ff9f;
          border-radius: 5px;
          transition: all 0.1s;
          cursor: pointer;
          &:hover{
            background-color: #2cc7ff;
            width: 35px;
          }
        }
      }
    }
    &.payment{
      background-color: #7bcf0d;
      .item-view{
        .name{
          color: #fff;
        }
        .details{
          color: #fff;
        }
      }
      .using-description{
        display: flex;
        gap: 3px;
        flex: 1;
        margin-top: 2px;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 0px 10px #00000060;
        .explan{
          margin: 5px 0px 0px;
          height: 8px;
          width: 30px;
          background-color: #2cc7ff9f;
          border-radius: 5px;
          transition: all 0.1s;
          cursor: pointer;
          &:hover{
            background-color: #2cc7ff;
            width: 35px;
          }
        }
      }
    }
    &.paymented{
      background-color: #fcfcfc;
      .item-view{
        .name{
          color: #0002005e;
        }
        .details{
          color: #13bd21;
        }
      }
      .using-description{
        display: flex;
        gap: 3px;
        flex: 1;
        margin-top: 2px;
        flex-direction: column;
        background-color: #e7f3e8ce;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 0px 10px #00000060;
        .explan{
          margin: 5px 0px 0px;
          height: 8px;
          width: 30px;
          background-color: #2cc7ff9f;
          border-radius: 5px;
          transition: all 0.1s;
          cursor: pointer;
          &:hover{
            background-color: #2cc7ff;
            width: 35px;
          }
        }
      }
    }
    .tools{
      padding: 5px;
      margin-top: auto;
      display: flex;
      align-items: center;
      flex: 1;
      gap: 5px;
      button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: hidden;
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: 5px;
        color: rgb(0 58 123 / 89%);
        padding: 12px 5px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          background-color: rgb(45, 135, 209);
          color: rgba(255, 255, 255, 0.89);
        }
      }
    }
    .comment{
      text-align: center;
      font-size: 13px;
      color: #999;
    }
    .price{
      text-align: center;
      font-weight: 600;
      font-size: 0.9rem;
      color: #000;
    }
    .avatar{
      width: 60px;
      height: 60px;
      border: 2px solid #fff;
      box-shadow: 1px 2px 3px #00000030;
      overflow: hidden;
      border-radius: 5px;
    }
    .time{
      text-align: center;
      font-size: 0.9rem;
      margin-bottom: 3px;
      color: #999;
    }
    .name{
      text-align: center;
      font-size: 0.9rem;
      font-weight: 600;
      color: #1d70ec;
    }
  }
}
.mng-main-windown{
  display: flex;
  flex: 1;
  overflow: hidden;
  padding-bottom: 5px;
}
.services-main{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .float{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    animation: fadeRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
    .menu-list{
      overflow: auto; 
      .menu-list-items{
        display: flex;
        flex-direction: column;
        .menu-list-item-header{
          margin-top: 5px;
          padding: 10px;
          color: #00a1ff;
          border-bottom: 2px solid #00a1ff;
          background-color: #fff;
          border-radius: 3px;
        }
        .menu-list-item-list{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          padding: 5px;
          .items{
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            flex: 1;    
            min-width: 250px;
            max-width: 280px;
            background-color: #fff;
            overflow: hidden;
            .description{
              display: flex;
              flex-direction: column;
              padding: 5px;
              gap: 5px;
              .items-header{
                display: flex;
                flex-direction: column;
                gap: 5px;
                .name{
                  display: flex;
                  white-space: nowrap;
                  padding: 5px 0px 0px;
                  color: #333;
                  text-decoration: none;
                  outline: 0;
                  font-weight: 600;
                  font-size: 1.2rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
              .items-details{
                display: flex;
                justify-content: space-between;
                select{
                  outline: none;
                  border-radius: 5px;
                  border: 1px solid #8b8b8b;
                  color: #8b8b8b;
                }
                .price{
                  font-size: 1.5rem;
                  font-weight: 600;
                  color: #e99410;
                }
              }
              .contents{
                font-size: 0.9rem;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3; /* number of lines to show */
                        line-clamp: 3; 
                -webkit-box-orient: vertical;
              }
            }
            .image{
              display: flex;
              background-color: #eee;
              height: 120px;
            }
            &.blank{
              background-color: transparent !important;
            }
          }
        }
      }
    }
    .filter-button{
      display: flex;
      white-space: nowrap;
      gap: 5px;
      .search-box{
        background-color: #fff;
        border: 1px solid #d8d8d8;
        color: #0e8ad1;
        padding: 5px 0px;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
        transition: all 0.3s;
        gap: 5px;
        padding: 5px 10px;
        transition: all 0.3s;
        input{
          padding: 5px;
          border: hidden;
          outline: none;
          transition: all 0.3s;
          width: 180px;
          color: #0e8ad1;
          font-size: 0.9rem;
          &:focus{
            width: 220px;
          }
        }
      }
      .items{
        cursor: pointer;
        color: #3b3b3b;
        background-color: #ffffff70;
        padding: 10px 18px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 80px;
        box-shadow: 1px 2px 3px #00000036;
        transition: all 0.3s;
        &:hover{
          background-color: #ffffffbb;
          color: #329adf;
        }
        &.active{
          background-color: #ffffff;
          color: #0099ff;
        }
      }
    }
  }
}
.split{
  border-bottom: 1px solid #00000015;
}
.app_bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .app_bg_autoclose{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000060
  }
  .app_bg_view{
    z-index: 1;
    .white-box{
      min-width: 600px;
      min-height: 400px;
      background-color: #fff;
      border-radius: 10px;
      max-height: 80vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .content_all{
        overflow: auto;
        padding: 10px;
      }
      .head{
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        padding: 10px;
      }
      .form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        .center{
          align-items: center;
          justify-content: center;
        }
        .items{
          display: flex;
          flex-direction: column;
          gap: 5px;
          .avatar{
            label{
              display: flex;
              width: 125px;
              height: 125px;
              overflow: hidden;
              border-radius: 10px;
              box-shadow: 1px 2px 3px #999;
              border: 2px solid #fff;
              font-size: 13px;
              align-items: center;
              justify-content: center;
              color: #999;
              background-color: #efefef;
              cursor: pointer;
              transition: all 0.3s;
              img{
                width: 100%;
                background-color: #fff;
              }
              &:hover{
                color: #000;
                background-color: #98d0eb;
              }
            }
            input[type=file]{
              display: none;
            }
          }
          .items_name {
            font-weight: bold;
            font-size: 13px;
            color: #999;
            transition: all 0.3s;
            cursor: pointer;
            &:hover{
              color: #000;
            }
          }
          .items_select{
            display: flex;
            margin: 0px 5px;
            gap: 5px;
            align-items: center;
            font-weight: bold;
            font-size: 13px;
            color: #999;
            select{
              font-size: 13px;
              padding: 5px;
              border-radius: 5px;
              color: #999;
              border: 1px solid #999;
              transition: all 0.3s;
              outline: none;
              &:hover{
                color: #1f1f36;
                border: 1px solid #1f1f36;
              }
            }
            input{
              font-size: 13px;
              padding: 6px;
              border-radius: 8px;
              outline: none;
              background-color: #efefef;
              border: 2px solid transparent;
              transition: all 0.3s;
              &:focus{
                border: 2px solid #000;
              }
            }
          }
          .items_input {
            display: flex;
            align-items: center;
            margin: 0px 5px;
            font-size: 13px;
            gap: 5px;
            textarea{
              height: 50px;
              resize: none;
              font-family: Arial;
              font-size: 13px;
              width: 100%;
              padding: 10px;
              border-radius: 8px;
              outline: none;
              background-color: #efefef;
              border: 2px solid transparent;
              transition: all 0.3s;
              &:focus{
                border: 2px solid #000;
              }
            }
            input{
              font-size: 13px;
              width: 100%;
              padding: 10px;
              border-radius: 8px;
              outline: none;
              background-color: #efefef;
              border: 2px solid transparent;
              transition: all 0.3s;
              &:focus{
                border: 2px solid #000;
              }
            }
          }
        }
      }
    }
  }
}
.app_error{
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }
  circle {
    fill: none;
    stroke: #00000060;
    stroke-width: 5;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }
  .error_background{
    background-color: #00000060;
    width: 100%;
    z-index: 0;
    height: 100%;
    position: absolute;
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    z-index: 1;
    min-width: 200px;
    min-height: 150px;
    background-color: #fff;
    box-shadow: 1px 2px 14px 2px #00000070;
    border-radius: 10px;
    .icon img{
      width: 100px;
    }
    .messages{
      color: #000;
      font-weight: bold;
    }

  }
}
@keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
}
 
@keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
  100% {
   stroke-dashoffset: -125px;
  }
}
.main-container{
  display: flex;
  flex: 1;
  overflow: hidden;
  .app-container{
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    box-shadow: 1px 1px 3px #00000036;
    z-index: 1000;
    .split{
      border-bottom: 1px solid #00000020;
      margin: 5px;
    }
    .app-item{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 20px;
      color: #8ea4b3;
      position: relative;
      .tooltiptext {
        display: flex;
        align-items: center;
        visibility: hidden;
        height: 40px;    
        background-color: #ffffff;
        box-shadow: 1px 1px 3px #00000050;
        color: #1e1d33;
        padding: 0px 10px;
        white-space: nowrap;
        flex-wrap: nowrap;
        text-align: center;
        border-radius: 0px 10px 10px 0px;
        position: absolute;
        z-index: 1;
        left: 100%;
        opacity: 0;
        font-size: 15px;
        transition: opacity 0.3s;
      }
      &:hover{
        color: #2088cd;
        background-color: #0000000e;
        .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
      &.active{
        color: #0099ff;
        i{
          border: 1px solid #008ffb;
          padding: 10px;
          border-radius: 5px;
          background-color: #eef9ff;
        }
      }
    }
    .app-sv{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 20px;
      color: #7babcb;
      position: relative;
      img{
        width: 100%;
        transition: 0.2s;
      }
      .tooltiptext {
        display: flex;
        align-items: center;
        visibility: hidden;
        height: 40px;    
        background-color: #ffffff;
        box-shadow: 1px 1px 3px #00000050;
        color: #1e1d33;
        padding: 0px 10px;
        white-space: nowrap;
        flex-wrap: nowrap;
        text-align: center;
        border-radius: 0px 10px 10px 0px;
        position: absolute;
        z-index: 1;
        left: 100%;
        opacity: 0;
        font-size: 15px;
        transition: opacity 0.3s;
      }
      &:hover{
        color: #2088cd;
        background-color: #0000000e;
        .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .active{
      img{
        width: 80%;
        border: 2px solid #197edd;
        background-color: #edfdff;
        border-radius: 10px;
      }
      &:hover{
        img{
          width: 80%;
          border: 2px solid #0084ff;
          background-color: #ffffff;
        }
        .tooltiptext {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
  .app-view{    
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: #d3d6dd;
    .app-menu{
      display: flex;
      flex-direction: column;
      box-shadow: 1px 1px 3px #00000020;
      background-color: #fff;
      position: relative;
      .store-items-container{
        transition: all 0.3s;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 2px;
        white-space: nowrap;
        &.open{
          width: 13rem;
          .store-items{
            display: flex;
            padding: 0.7rem;
            color: #5770a7;
            border-radius: 5px;
            gap: 10px;
            transition: all 0.3s;
            cursor: pointer;
            overflow: hidden;
            .logo{
              display: flex;
              width: 20px;
              padding-top: 3px;
              align-items: center;
              justify-content: center;
              transition: all 0.3s;
            }
            .name{
              transition: all 0.3s;
            }
            &:hover{
              background-color: #eef3fb;
              color: #0c86e1;
            }
            &.active{
              background-color: #f5f5f5;
              color: #0086eb;
              box-shadow: 1px 2px 3px #0000000a inset;
            }
          }
        }
        &.hidden{
          width: 70px;
          .store-items{
            display: flex;
            padding: 0.7rem;
            color: #5770a7;
            border-radius: 5px;
            gap: 10px;
            transition: all 0.3s;
            cursor: pointer;
            &:hover{
              background-color: #eef3fb;
              color: #0c86e1;
            }
            &.active{
              background-color: #f5f5f5;
              color: #0086eb;
              box-shadow: 1px 2px 3px #0000000a inset;
            }
            .name{
              display: none;
              transition: all 0.3s;
            }
            .logo{
              display: flex;
              width: -webkit-fill-available;
              font-size: 20px;
              justify-content: center;
              transition: all 0.3s;
            }
          }
        }
      }
      .show-responsive{
        position: absolute;
        display: flex;
        right: 3px;
        height: 100%;
        width: 0px;
        align-items: center;
        justify-content: center;
        logo{
          display: flex;
          align-items: center;
          border-radius: 50%;
          padding: 5px 4px 4px;
          background-color: #fff;
          display: flex;
          box-shadow: 2px 0 2px 0px #00000030;
          cursor: pointer;
          transition: all 0.3s;
          i{
            font-size: 23px;
            color: #8aabc3;
            transition: all 0.1s;
          }
          &:hover{
            i{
              font-size: 25px;
              color: #2f8cce;
            }
          }
        }
      }
    }
  }
}
.mg10x0{
  margin: 10px 0px;
}
.mg10{
  margin: 10px;
}
red{
  color: red;
}
.alblum-list{
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0px;
  }
  .alblum{
    display: flex;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;
    .items{
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      min-width: 200px;
      max-width: 400px;
      flex: 1;
      height: 200px;
      background-color: #fff;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
      }
    }
    .list-img-null{
      flex: 1;
      background-color: #ffffffb9;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8a8a8a;
      height: 80px;
      border-radius: 10px;
    }
    .alblum-null{
      width: 300px;
      background-color: #ffffffb9;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8a8a8a;
      height: 80px;
      border-radius: 10px;
    }
  }
}
.user-profile{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  .user-details{
    padding: 0px 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    table{
      margin: 5px 10px;
      border: 1px solid #00000020;
      border-radius: 10px;
      td{
        border-top: 1px solid #00000020;
        padding: 5px;
        &:first-child{
          width: 40%;
        }
      }
      tr:first-child td{
        border-top: hidden;
      }
    }
  }
  .user-fullname{    
    font-size: 20px;
    font-weight: bold;
    color: #577895;
    display: flex;
    margin: 0px 5px;
  }
  .user-address{
    margin: 0px 5px;
    font-size: 15px;
    color: #5c8599;
    display: flex;
  }
  .user-wall{
    height: 200px;
    position: relative;
    border-bottom: 1px solid #0000000f;
    background-image: linear-gradient(317deg, #1c9cf1, #82cdff);
    .user-avatar{
      position: absolute;
      background-color: #d5dae3;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      border: 5px solid #fff;
      box-shadow: 1px 1px 3px #00000060;
      bottom: -50px;
      left: 50%;
    }
  }
}
.h2{
  font-size: 15px;
  font-weight: bold;
  color: #779db7;
  cursor: pointer;
  &:hover{
    color: #5292bd;
    &:before{
      color: #87b4c9;
    }
  }
  &:before{
    content: "#";
    color: #ddd;
    margin-right: 5px;
  }
}
.h3{
  font-size: 13px;
  font-weight: bold;
  color: #779db7;
  cursor: pointer;
  &:hover{
    color: #5292bd;
    &:before{
      color: #87b4c9;
    }
  }
  &:before{
    content: "#";
    color: #ddd;
    margin-right: 5px;
  }
}
.wh2{
  font-size: 1rem;
  font-weight: bold;
  color: #4b4b4b;
  cursor: pointer;
  &:hover{
    color: #000000;
    &:before{
      color: #000000;
    }
  }
  &:before{
    content: "#";
    color: #011c2e;
    margin-right: 5px;
  }
}
.icenter{
  align-items: center;
}
.acenter{
  align-items: center;
  justify-content: center;
}
.mg5{
  margin: 5px;
}
.pd5{
  padding: 5px;
}
.pd10{
  padding: 10px;
}
.w400{
  width: 400px;
}
.w40{
  max-width: 40%;
}
.w30{
  max-width: 30%;
}
.g5{
  gap: 5px;
}
.g10{
  gap: 10px;
}
.input_selector{
  position: relative;
  display: block !important;
  padding: 0px 25px 0px 0px;
  .address_detail{
    display: flex;
    z-index: 5;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    .address_items{
      padding: 5px;
      cursor: pointer;
      transition: all 0.3s;
      color: #2c7daa;
      border: 1px solid #b8c9df;
      border-bottom: hidden;
      &:first-child{
        border-radius: 5px 5px 0px 0px;
      }
      &:last-child{
        border-radius: 0px 0px 5px 5px;
        border: 1px solid #b8c9df;
        border-top: hidden;
      }
      &:hover{
        background-color: #eff6ff;
      }
    }
  }
}
.app-main{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  padding: 5px 0px;
  border-radius: 3px;
  background: #9ab0bd60;
  cursor: pointer;
  transition: all 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background: #508eb260;
}
.title{
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #1c2225;
  cursor: pointer;
  position: sticky;
  top: 0;
  background-color: #fff;
  .h2{
    color: #000000;
    margin: 0px;
    padding: 0px;
    &::before{
      content: none;
    }
  }
}
.w600{
  width: 600px;
}
.add_menu{
  .head{
    margin-top: 5px;
    color: #006a8b;
    padding: 20px !important;
    font-weight: bold;
  }
  .body{
    display: flex;
    padding: 15px;
    gap: 50px;
    .container{
      display: flex;
      flex-direction: column;
      gap: 5px;
      .mn_details{
        display: flex;
        gap: 5px;
        flex: 1;
        align-items: unset !important;
        padding: 5px;
        .mn_img_details{
          display: flex;
          flex: 1;
          font-size: 13px;
          color: #c7c7c7;
          font-weight: bold;
          overflow: hidden;
          cursor: pointer;
          transition: all 0.3s;
          img{
            vertical-align: middle;
          }
          label{
            border-radius: 5px;
            border: 1px solid;
            display: flex;
            flex: 1;
            height: 150px;
            cursor: pointer;
            overflow: hidden;
          }
          &:hover{
            color: #1273d4;
          }
        }
      }
      .mn_img{
        display: flex;
        position: relative;
        padding: 0px 5px;
        .mini{
          position: absolute;
          z-index: 1;
          align-items: unset;
          bottom: 0px;
          .mn_name{
            padding: 20px 10px;
            display: flex;
            flex: 1;
            align-items: flex-end;
            font-weight: bold;
            text-shadow: 2px 2px 3px white, 
                        -2px 2px 3px white, 
                        2px -2px 3px white, 
                        -2px -2px 3px white;
            font-size: 1.2rem;
          }
          .mini_avt{
            color: #999;
            width: 100px;
            height: 100px;
            border: 2px solid #ffffff;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            box-shadow: 1px 2px 3px #dadada;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.3s;
            background-color: #fff;
            img{
              vertical-align: middle;
            }
            &:hover{
              color: #000;
              box-shadow: 1px 2px 3px #9e9e9e;
            }
          }
        }
        .big{
          display: flex;
          flex: 1;
          overflow: hidden;
          position: relative;
          padding: 5px;
          .big_avt{
            color: #999;
            width: 100%;
            height: 300px;
            border: 2px solid #ffffff;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            box-shadow: 1px 2px 3px #dadada;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.3s;
            img{
              vertical-align: middle;
            }
            &:hover{
              color: #000;
              box-shadow: 1px 2px 3px #9e9e9e;
            }
          }
        }
      }
      .items{
        display: flex;
        justify-content: center;
        align-items: center;
        .name{
          color: #1c3d84;
          width: 160px;
        }
        .input{
          display: flex;
          flex: 1;
          input[type=text],input[type=number], select, textarea{
            padding: 10px;
            border: 1px solid #b7b7b7;
            border-radius: 5px;
            width: 100%;
          }
          option{
            padding: 10px;
          }
          textarea{
            resize: none;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            height: 120px;
          }
        }
      }
      .h2{
        justify-content: flex-start !important;
      }
    }
  }
}
.db{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  font-size: 1rem;
  color: #343747;
  .db-card{
    flex: 1;
    padding: 10px 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px #0000002b;
    border-radius: 5px;
    overflow: hidden;
    min-width: 200px;
    .jspace{    
      justify-content: space-evenly;
      flex: 1;
      margin-top: -30px;
      align-items: center;
      margin-bottom: -20px;
    }
    .db-chart-name{
      color: #373842;
      font-weight: 600;
    }
    .db-card-header{
      font-size: 1.6rem;
      font-weight: bold;
      white-space: nowrap;
      margin: 5px 0px;
      unit{
        font-size: 1rem;
      }
    }
    .db-card-title{
      color: #5f7189;
      font-weight: 600;
      font-size: 0.8rem;
    }
    .db-card-rate{
      display: flex;
      margin-top: auto;
      color: #999;
      font-size: 0.8rem;
      gap: 5px;
      white-space: nowrap;
      up {
        font-weight: bold;
        color: rgb(13, 184, 90);
      }
      down {
        font-weight: bold;
        color: rgb(184, 81, 13);
      }
      ct{
        font-size: 13px;
        color: #000;
      }
    }
    .db-card-chart{
      flex: 1;
      min-width: 80px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .db-chart{
    padding-bottom: 10px;
  }
  select {
    outline: none;
    cursor: pointer;
    padding: 5px 8px;
    font-size: 16px;
    border-radius: 5px;
    color: #041d3546;
    border: 1px solid #041d3523;
  }
  table.top_users{
    font-size: 0.8rem;
    border-collapse: collapse;
    width: 100%;
    td{
      border-top: 1px solid #00000010;
      border-bottom: 1px solid #00000010;
      padding: 5px;
      .name{
        display: flex;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }
      &:last-child{
        text-align: right;
      }
    }
    .add{
      font-size: 13px;
      color: #999;
    }
    .avatar{
      width: 40px;
      height: 40px;
      background-color: #999;
      border-radius: 50%;
      border: 3px solid #fff;
      box-shadow: 1px 1px 3px #00000050;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        image-rendering: optimizeQuality;
      }
    }
  }
}
.card{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px #00000013;
  border-radius: 10px;
  overflow: auto;
}
.flex{
  display: flex;
}
.flex-c{
  display: flex;
  flex-direction: column;
}
.left{
  display: flex;
}
.bot{
  margin-top: auto
}
.mid{
  display: flex;
  justify-items: center;
}
.f1{
  display: flex;
  flex: 1;
}
.showup-store{
  transform:rotate(180deg);
}
.store_alert{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px 5px;
  overflow: auto;
  max-height: 250px;
  .items{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
    padding: 3px 5px;
    border: 1px solid #eee;
    background-color: #eee;
    .p_body{
      padding: 0px 5px;
    }
    .p_footer{
      font-size: 13px;
      color: #999;
      text-align: right;
    }
    .p_header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .p_title{
        font-size: 13px;
        font-weight: bold;
      }
      .p_close{
        color: #999;
        font-weight: bold;
        padding: 0px 5px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          color: #e11010;
        }
      }
    }
  }
}
.store_order{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 10px;
  .items{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: all 0.3s;
    padding: 3px 5px;
    border: 1px solid #aabcce;
    background-color: #f1f8f9;
    .noted{
      font-size: 13px;
      color: #2c8ed3;
    }
    .p_body{
      margin: 5px 0px;
      border: 1px solid #c0c0c0;
      border-radius: 5px;
      table{
        width: 100%;
        border-spacing: 0px;
        tr{
          td{
            padding: 2px;
            font-size: 12px;
            border-bottom: 1px solid #c0c0c0;
            &:nth-child(2){
              text-align: center;
            }
            &:last-child{
              text-align: right;
              &::after{
                content: " đ";
              }
            }
          }
          &:last-child{
            td{
              border-bottom: hidden;
            }
          }
        }
      }
    }
    .p_tools{
      display: flex;
      align-items: center;
      pr{
        color: #e37f13;
      }
      .right{
        display: flex;
        align-items: center;
        color: #2b2938;
        font-size: 13px;
        font-weight: bold;
      }
      align-items: center;
      display: flex;
      gap: 5px;
      padding: 5px;
    }
    .p_footer{
      font-size: 13px;
      color: #999;
      text-align: right;
    }
    .p_header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .p_title{
        font-size: 14px;
        color: #007dd6;
        transition: all 0.3s;
        cursor: pointer;
        &:hover{
          color: #0094fd;
          text-decoration: underline;
        }
      }
      .p_close{
        color: #00e144;
        font-weight: bold;
        padding: 0px 5px;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
  }
}
.rightnav{
  min-width: 300px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 1px 1px 3px #00000030;
  overflow: auto;
}
.right{
  display: flex;
  margin-left: auto;
}
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #fff;
  font-weight: bold;
}
.loader content{
  animation: fade 1.8s ease-in-out infinite;
}
.loader:before,
  .loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }

  50%, 100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes fade{
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
  
  100% {
    opacity: 1;
  }
}
@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
      
.loadbox80{
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-color: #26343d80;
}
.loadbox{
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  background-color: #26343d;
}
.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center, hsl(14.67deg 91.5% 33.95%) 4.8%, hsl(202.67deg 100% 50% / 14%) 5%), linear-gradient(hsla(0, 0%, 55%, 0) 46.9%, hsl(0deg 26.37% 18.43%) 47% 52.9%, hsl(0deg 45.86% 17.59% / 0%) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}
.onloader {
  width: 18px;
  height: 18px;
  border: 4px solid #FFF;
  border-bottom-color: #5f88df;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 
.filter_by{
  align-items: center;
  gap: 5px;
  select{
    background-color: transparent;
    color: #5e5e5e;
    border: 1px solid #b6b6b6;
    padding: 8px;
  }
}
button.next{
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  cursor: pointer;
  gap: 0.6em;
  font-weight: bold;
  -webkit-app-region: no-drag;
  padding: 15px 40px;
  position: relative;
  .onloader{
    position: absolute;
    right: 18px;
  }
  .inloader{
    width: 8px;
  }
  .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  &:hover {
    background-color: var(--hover-color);
  }
  &:hover .arrow {
    background: var(--secondary-color);
  }
  &:hover .arrow:before {
    right: 0;
  }
}